.movieContainer {
  display: inline-block;
  margin: 0 0 2em 2em;
  height: 200px;
  width: 150px;
  border: 1px solid white;
}

.addRemoveButton {
  width: 40px;
  margin: 0 0 0 10px;
}

.moviePoster {
  height: 150px;
  width: 100px;
}

