.queueMovieContainer {
  margin: 0 0 30px 30px;
  width: 99%;
  height: 75px;
}

.queueMovieContainer > * {
  display: inline-block;
  vertical-align: middle;
}

.queueMovieTitle {
  width: 340px;
  margin-right: 20px;
}

.changeOrderButtonContainer {
  width: 41px;
  display: inline-block;
}

.changeOrderButton {
  width: 32px;
}
