/* colors */
/* :root {
  --blue:linear-gradient(rgb(0, 172, 217), rgb(90, 25, 250));
  --white: #ffffff;
} */

html, body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: coral;
}

#app {
  height: 100vh;
}

header {
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* holds catalog and queue */
section {
  display: flex;
  
  /* AUDRY - this is wierd */
  height: 90.2%;
  /* you'll have to adjust or figure out wierd */
}

/* catalog and queue are each one */
article {
  flex: 0 0 50%;  
  overflow: scroll;
}

footer {
  background-color: purple;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

li {

  /* just to show what's what */
  /* border: 1px dashed white; */
}
