/* colors */
:root {
  --darkGradient: linear-gradient(rgb(0, 172, 217), rgb(90, 25, 250));
  --solidPurple: rgb(85, 21, 238);
  --darkGrey: rgb(50, 44, 64);
  --specialWhite: rgb(168, 194, 235);
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: var(--solidPurple);
  color: white;
}

#app {
  height: 100vh;
}

#topHeader {
  background-color: var(--solidPurple);
}

header {
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* holds catalog and queue */
section {
  display: flex;

  /* AUDRY - this is wierd */
  height: 90.2%;
  /* you'll have to adjust or figure out wierd */
}

/* catalog and queue are each one */
article {
  flex: 0 0 50%;
  overflow: scroll;
}

footer {
  background-color: var(--darkGrey);
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
