
header {
    color: purple;
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* holds catalog and queue */
section {
    display: flex;
}

/* catalog and queue are each one */
article {
    flex: 0 0 50%;
}
