header {
    background-color: lightblue;
}

section {
    display: flex;
}

article {
    flex: 0 0 50%;
}

h1 {
    color: purple;
    margin: 0;
    padding: 10px;
    text-align: center;
}

h2 {
    color: gray;
}
